.login-header {
  margin-top: 48px;
  background-image: url('./../../assets/pattern.png'), linear-gradient(to right, #3C95D1, #BE62BB);
  padding: 64px 0;
  color: white;
}

.login-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-header .intro,
.login-header .login-buttons {
  width: 50%;
}

.login-header h1 {
  font-family: 'Segoe UI', "Roboto", sans-serif
}

.login-header p {
  color: #F9F9F9;
}

.login-header .login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header .login-buttons .logo {
  width: 64px;
  height: 64px;
}

.login-header .login-buttons h2 {
  font-size: 20px;
  color: #F9F9F9;
}


.small-header {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  border-radius: 8px ;
  background-image: url('./../../assets/pattern.png'), linear-gradient(to right, #37C862, #1A8FB4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}

.small-header .title,
.small-header .description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-header .description {
  text-align: right;
  color: #F9F9F9;
  align-items: flex-end;
}

.small-header h2 {
  color: white;
  margin: 0;
  font-size: 24px;
  margin-bottom: 8px;
}

.small-header h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Roboto Light", 'Roboto', sans-serif;
  font-weight: 200;
}

.small-header .description h3 {
  font-weight: 700;
  font-family: "Roboto Bold", 'Roboto', sans-serif;
}

.small-header .description a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #DBECF8;
  text-align: right;
  font-size: 14px;
  margin: 8px 0;
}
.small-header .description a i.material-icons {
  font-size: 20px;
}

@media only screen and (max-width: 720px) {
  .login-header .container {
    flex-direction: column;
  }

  .login-header .login-buttons,
  .login-header .intro {
    width: 100%;
  }

  .small-header {
    flex-direction: column;
  }

  .small-header .title,
  .small-header .description {
    width: 100%;
  }
}