.big-header {
  margin-top: 48px;
  background-image: url("./../../assets/pattern.png"),
    linear-gradient(to right, #3c95d1, #be62bb);
  padding: 64px 0;
  color: white;
}

.big-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.big-header .intro,
.big-header .login-buttons {
  width: 50%;
}

.big-header h1 {
  font-family: "Segoe UI", "Roboto", sans-serif;
}

.big-header p {
  color: #f9f9f9;
}

.big-header .login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-header .login-buttons .logo {
  width: 64px;
  height: 64px;
}

.big-header .login-buttons h2 {
  font-size: 20px;
  color: #f9f9f9;
}

.small-header {
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  border-radius: 8px;
  background-image: url("./../../assets/pattern.png"),
    linear-gradient(to right, #37c862, #1a8fb4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}

.small-header .title,
.small-header .description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-header .description {
  text-align: right;
  color: #f9f9f9;
  align-items: flex-end;
}

.small-header h2 {
  color: white;
  margin: 0;
  font-size: 24px;
  margin-bottom: 16px;
}

.small-header h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Roboto Light", "Roboto", sans-serif;
  font-weight: 200;
}

.small-header .description h3 {
  font-weight: 700;
  font-family: "Roboto Bold", "Roboto", sans-serif;
}

.small-header .description a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #dbecf8;
  text-align: right;
  font-size: 14px;
  margin: 8px 0;
}
.small-header .description a i.material-icons {
  font-size: 20px;
}

header.big-header.logged-in {
  background-image: url("./../../assets/pattern.png"),
    linear-gradient(to right, #37c862, #1a8fb4);
  padding: 32px 0;
}
header.logged-in .info {
  text-align: right;
  max-width: 45%;
}
header .info h2 {
  color: white;
}
header.logged-in .buttons {
  justify-content: flex-start;
}
header.logged-in .button {
  color: white;
  border-color: #303030;
  background-color: #303030;
  margin: 0;
}
header.logged-in .button.light {
  color: white;
  background-color: transparent;
  border-color: white;
  margin-right: 16px;
}

@media only screen and (max-width: 720px) {
  .big-header .container {
    flex-direction: column;
  }

  .big-header .login-buttons,
  .big-header .intro {
    width: 100%;
  }

  .small-header {
    flex-direction: column;
  }

  .small-header .title,
  .small-header .description {
    width: 100%;
  }

  header.logged-in .info {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }

  header.logged-in .buttons {
    display: none;
  }
}
