.buttons .gh-login {
  background-color: #24292E;
  border: solid 1px #24292E;
}

.buttons .gl-login {
  background-color: #4F3E7F;
  border: solid 1px #4F3E7F;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.buttons a.button {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 8px;
}

.button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons .button img {
  height: 24px;
  width: 24px;
  margin-left: 16px;
}


.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  max-width: 404px;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 16px;
  margin-top: 80px;
  color: #999999;
}

.auth-container img.logo {
  width: 64px;
  height: 64px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 24px 0;
}

.auth-container h2 {
  font-family: 'Segoe UI', "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  margin-bottom: 16px;
  color: #666;
}
.auth-container p {
  margin: 0;
  text-align: center;
}

.auth-container .buttons {
  margin: 16px 0;
}

.auth-container .small {
  margin: 16px 0;
  font-size: 12px;
  color: #afafaf;
}

.auth-container .divider {
  color: #AFAFAF;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}

.auth-container .divider::before {
  margin-right: 16px;
}
.auth-container .divider::after {
  margin-left: 16px;
}
.auth-container .divider::before, .auth-container .divider::after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: #D7D7D7;
}

.auth-container .button.light {
  margin-bottom: 32px;
  border-color: #999999;
  color: #999999;
}