::selection {
  color: white;
  background-color: #40a3e6;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafbfc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-size: 16px;
  color: #666;
  font-weight: bold;
}

a {
  color: #40a3e6;
  text-decoration: none;
}
button:focus{
  outline: none;
}
button.button,
a.button {
  cursor: pointer;
  outline: none;
  margin-bottom: 16px;
  font-weight: 700;
  display: block;
  text-align: center;
  border-radius: 4px;
  max-width: 100%;
  width: 250px;
  padding: 16px;
  box-sizing: border-box;
  color: white;
  background-color: #40a3e6;
  border: solid 1px #40a3e6;
}

button.button.small,
a.button.small {
	padding: 8px;
	width: 150px;
}

button.light,
a.button.light {
  color: #40a3e6;
  background-color: transparent;
}

button.danger,
a.button.danger {
  background-color: transparent;
  border: solid 1px #e64040;
  color: #e64040;
}

.vertical-tabs {
  display: flex;
  flex-direction: column;
}
.vertical-tabs button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 16px 8px 13px;
  margin-bottom: 8px;
  text-align: center;
  border-left: solid 3px transparent;
  color: #999999;
}

.vertical-tabs .active{
  color: #40a3e6;
  border-left-color: #40a3e6;
  background-color: #E9E9E9;
}

p.light {
  font-size: 12px;
  color: #a7a7a7;
}
p.error {
  font-size: 14px;
  color: #e64040;
}
p.success {
  font-size: 14px;
  color: #40a3e6;
}

main {
  width: 100%;
}
main section h2 {
  margin-top: 0;
}

.container {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 16px;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 8px;
  padding-top: 16px;
  max-width: 1275px;
  margin: 16px auto;
}
.body.spaced {
  margin-top: 64px;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 66px;
  width: 250px;
  margin-right: 16px;
  box-sizing: border-box;
}

pre.code {
  background-color: #eee;
  border: solid 1px #d7d7d7 !important;
  border-radius: 4px;
  padding: 8px !important;
  box-sizing: border-box;
  font-size: 14px;
}

form input,
form select,
form textarea {
  padding: 16px;
  outline: none;
  border: solid 1px #d7d7d7;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  color: #666;
}

form input::placeholder, form textarea::placeholder {
	color: #999;
}

.icon-input,
.image-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
}

.icon-input {
  background-color: white;
  border: solid 1px #d7d7d7;
  padding: 0 8px;
  margin-bottom: 8px;
}
.icon-input img {
  height: 32px;
}
.icon-input input {
  border: none;
  margin: 0;
}

.image-input .thumbnail {
  height: 52px;
  width: 52px;
  background-position: center;
  background-size: cover;
  background-color: #999;
  margin-right: 8px;
  border-radius: 8px;
}

.inline-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 4px;
}
.inline-input button {
	margin-left: 8px;
}

.small-inputs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.small-inputs .input {
	width: 48%;
}
.small-inputs .input h5 {
	margin: 0;
}

.comment-input textarea {
	height: 64px;
	transition: .2s;
	border: solid 1px transparent;
	padding-left: 0;
}
.comment-input textarea:focus {
	height: 200px;
	outline: none;
	border: solid 1px #d7d7d7;
	padding-left: 16px;
}
.comment-input .user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.comment-input .user-info h2 {
	margin: 0;
	font-weight: 500;
}
.comment-input img {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 8px;
}

.button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.button-container button {
	margin-right: 8px;
}
.button-container .light {
	font-weight: 500;
}
