body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FAFBFC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: #40A3E6;
  text-decoration: none;
}

a.button {
  margin-bottom: 16px;
  font-weight: 700;
  display: block;
  text-align: center;
  border-radius: 4px;
  max-width: 100%;
  width: 250px;
  padding: 16px;
  box-sizing: border-box;
  color: white;
  background-color: #40A3E6;
  border: solid 1px #40A3E6;
}

a.button.light {
  color: #40A3E6;
  background-color: transparent;
}

main {
  width: 100%;
}

.container {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 16px;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 8px;
  padding-top: 16px;
  max-width: 1275px;
  margin: 16px auto;
  height: 100vh;
}