nav {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 200;
}

nav::after {
  content: "";
  display: block;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    #f00,
    #ff0,
    #0f0,
    #0ff,
    #00f,
    #f0f,
    rgba(255, 0, 255, 0)
  );
  height: 1.25px;
  opacity: 0.5;
}

nav .nav-container {
  padding: 4px 0;
  box-sizing: border-box;
  min-height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav .column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #666;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

nav .logo img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}

nav .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 32px;
  margin-top: 3px;
}

nav .nav-links a {
  color: #999;
  font-size: 14px;
  margin-right: 16px;
}

.search {
  border: solid 1px #d7d7d7;
  color: #999;
  background-color: white;
  padding: 0 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 314px;
}

.search input {
  outline: none;
  border: none;
  flex: 1;
  padding: 8px 0;
  width: 100%;
  margin: 0;
  color: #666;
}

.search ::placeholder {
  color: #999;
}

.search i.material-icons {
  font-size: 20px;
  margin-right: 4px;
  user-select: none;
}

nav .button.light {
  padding: 8px 24px;
  font-size: 14px;
  width: auto;
  margin: 0;
  margin-left: 8px;
  border: solid 1px #999;
  color: #999;
  font-weight: 500;
}

nav .logged-in {
  margin-left: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  user-select: none;
  position: relative;
  cursor: pointer;
  min-width: 150px;
  min-height: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav .logged-in:active,
nav .logged-in:hover,
nav .logged-in.active {
  padding: 3px 7px;
  border: solid 1px #d7d7d7;
}

nav .logged-in .personal-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .logged-in .meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-right: 16px;
}

nav .logged-in .meta h2 {
  font-size: 14px;
  color: #666;
  margin: 0;
}

nav .logged-in .meta h3 {
  font-size: 12px;
  color: #40a3e6;
  margin: 0;
}

nav .logged-in img {
  height: 32px;
  border-radius: 50%;
}

nav .logged-in i.material-icons {
  color: #999;
}

nav .dropdown {
  min-width: 148px;
  position: absolute;
  background-color: white;
  margin-top: 34px;
  width: 100%;
  z-index: 100;
  border: solid 1px #d7d7d7;
  border-radius: 0 0 4px 4px;
}

nav .dropdown h2 {
  font-size: 10px;
  margin: 0;
  padding: 8px;
  color: #999;
  font-family: "Segoe UI", "Roboto", sans-serif;
  text-transform: uppercase;
}

nav .dropdown .alt-links {
  display: none;
}

nav .dropdown .links {
  padding: 4px;
  border-top: solid 1px #d7d7d7;
  border-bottom: solid 1px #d7d7d7;
}

nav .dropdown .links a {
  margin: 4px 0;
}

nav .dropdown a {
  padding: 4px 8px;
  color: #999;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

nav .dropdown i.material-icons {
  margin-right: 8px;
}

@media only screen and (max-width: 1275px) {
  nav .nav-container {
    padding: 4px 16px;
  }

  nav .logo span {
    display: none;
  }

  nav .logged-in {
    min-width: auto;
  }

  nav .nav-links {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 720px) {
  nav .nav-links,
  nav .logged-in .meta {
    display: none;
  }

  nav .logged-in img,
  nav .dropdown .alt-links {
    display: block;
  }

  nav .logged-in .dropdown {
    right: 0;
  }
}
