.profile-sidebar {
  position: relative;
  top: 0;
}

.profile-sidebar img {
  max-width: 115px;
  border-radius: 8px;
}

.profile-sidebar h2 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 0;
}

.profile-sidebar .rep {
  color: #dc0690;
  margin: 0;
}

.profile-sidebar .bio {
  font-size: 14px;
  color: #999;
  line-height: 1.4;
}

.profile-sidebar .button.light {
  color: #666;
  border-color: #a7a7a7;
  font-size: 12px;
  transition: 0.2s;
}

.hidden {
  height: 0;
  overflow: hidden;
}

.profile-sidebar h3 {
  margin: 8px 0 16px;
  color: #666;
  font-size: 16px;
}

.profile-sidebar .badges {
  margin: 32px 0;
  padding: 16px 0;
  border-top: solid 1px #d7d7d7;
}

.profile-sidebar .badge {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0;
}

.profile-sidebar .badge img {
  max-width: 32px;
  margin-right: 8px;
}

.profile-sidebar .badge h4 {
  color: #666;
  font-size: 16px;
  margin: 0;
}

.profile-sidebar .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile-sidebar .button-container .button {
  width: 45%;
}

.tab-nav {
  background-color: #fafbfc;
  border-bottom: solid 1px #d7d7d7;
  position: sticky;
  top: 49px;
  padding-top: 16px;
}

.tab-nav a {
  padding: 8px 16px 7px;
  display: inline-block;
  border-bottom: solid 2px transparent;
}

.tab-nav a.active {
  color: #40a3e6;
  border-bottom-color: #40a3e6;
}
