.question {
  background-color: white;
  margin-bottom: -1px;
  padding: 16px 8px;
  border: solid 1px #e7e7e7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.question:first-of-type {
  border-radius: 4px 4px 0 0;
}
.question:last-of-type {
  border-radius: 0 0 4px 4px;
}

.question img {
  height: 48px;
  width: 48px;
  margin: 0 16px;
}

.votes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.votes span {
  color: #999;
  font-size: 12px;
}

.votes .up,
.votes .down {
  cursor: pointer;
  color: #999;
  font-size: 24px;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.votes .up:hover {
  color: #40a3e6;
}

.votes .down:hover {
  color: #e64040;
}

.question-body {
  flex: 1;
}

.question-body h2 {
  margin: 0;
}

.question-body h2 .tag {
  margin-left: 8px;
  border: solid 1px #40e672;
  color: #18bf4a;
  padding: 1px 4px 2px;
  border-radius: 4px;
  font-size: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.question-body p {
  margin: 0;
  font-size: 12px;
  color: #999;
  margin-top: 8px;
}

.question-body .category {
  color: #666;
  font-family: "Roboto Bold", Roboto, sans-serif;
  margin-right: 8px;
  font-weight: bold;
}

.question-body .category img {
  height: 16px;
  width: 16px;
  margin: 0;
  position: relative;
  top: 3px;
  margin-right: 4px;
  display: none;
}

.question-body .category::after {
  content: "●";
  margin-left: 8px;
  color: #999;
}

.question-body .author {
  margin-left: 4px;
  display: inline-block;
}

.question-body .author i {
  margin-right: 2px;
  font-size: 14px;
  position: relative;
  top: 3px;
}

.question .options {
  color: #999;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.question .options span,
.question .options a {
  color: #999;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question .options i.material-icons {
  font-size: 16px;
  margin-left: 4px;
  text-align: right;
  width: 24px;
}

.question .dropdown-container {
  z-index: 100;
}

.question .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.question .dropdown {
  position: fixed;
  background-color: white;
  right: 16px;
  left: 16px;
  z-index: 500;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  max-width: 404px;
  margin: 0 auto;
}

.question .dropdown .close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
}

.question .dropdown .close i {
  cursor: pointer;
}

.question .dropdown ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.question .dropdown a {
  padding: 8px 0;
  font-size: 16px;
  color: #666;
}

.question .dropdown a.disabled {
  color: #999;
  cursor: no-drop;
}

.question .dropdown a i.material-icons {
  margin-right: 16px;
  font-size: 24px;
}

.content {
	background-color: white;
	padding: 16px;
	padding-bottom: 0;
	border: solid 1px #d7d7d7;
	border-radius: 8px;
	color: #666;
}
.content .meta {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.content .meta .author {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.content .meta .author i {
  margin: 0 2px;
  font-size: 14px;
}
.content .meta p{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 8px 16px;
}
.content .meta .votes {
	padding-left: 0;
	border-right: solid 1px #d7d7d7;
}
.content .meta .votes:last-of-type {
	border: none;
}
.content .votes span {
	margin: 0 8px;
}
.content .votes i {
	cursor: pointer;
	font-size: 32px;
}
.content .votes.comments i {
	margin-left: 16px;
	font-size: 16px;
	color: #999;
	width: 18px;
}
.content .title {
	margin: 0;
	font-size: 20px;
	}
.content .meta.light {
	padding-bottom: 16px;
	border-bottom: solid 1px #d7d7d7;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
	color: #999;
	font-family: "Roboto Light", "Roboto", sans-serif;
}
.md h2 {
	font-size: 1.5em;
}
.md blockquote {
	margin: 0;
	padding: 1px 16px;
	border-left: solid 3px rgba(64, 163, 230, 0.5);
	background-color: #fafbfc;
}
.md img {
	max-width: 100%;
	transition: .2s;
}

@media only screen and (max-width: 720px) {
  .question img,
  .question-body h2 .tag {
    display: none;
  }

  .question-body .category img {
    display: inline-block;
  }

  .question-body h2 {
    font-size: 14px;
  }

  .question .votes {
    margin: 0 16px 0 8px;
  }

  .question .options {
    flex-direction: column;
  }
}
