.contest-list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
	color: #666;
	border-bottom: solid 1px #d7d7d7;
}
.contest-list-item p,
.contest-list-item h4 {
	flex: 1;
	text-align: right;
}
.contest-list-item p:first-of-type,
.contest-list-item h4:first-of-type {
	flex: 4;
	text-align: left;
}
.contest-list-item p:nth-of-type(2),
.contest-list-item h4:nth-of-type(2) {
	margin-right: 16px;
}

