aside .button {
  font-size: 14px;
  padding: 8px;
  margin-bottom: 8px;
}

aside .popular {
  margin-top: 32px;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #666;
  margin-bottom: 16px;
}

.lang img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.lang p {
  font-size: 14px;
  margin: 0;
}

.lang .meta .light {
  font-size: 12px;
  color: #999;
}

.lang.big img {
  height: 64px;
  width: 64px;
  border-radius: 8px;
  margin-right: 24px;
}
.lang.big p{
  font-size: 16px;
  color: #666;
  font-family: "Roboto Black", "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.lang.big .meta .light {
  font-size: 14px;
  text-transform: lowercase;
}

aside .nav {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-top: 32px;
}

aside .nav .column {
  display: flex;
  flex-direction: column;
}

aside .column a {
  margin: 8px 16px;
  margin-left: 0;
  color: #666666;
}

aside .social {
  margin: 16px auto;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside .social img {
  width: 24px;
  height: 24px;
}

aside .copy {
  margin-top: 16px;
  font-size: 14px;
}

aside .copy p {
  margin: 4px;
  text-align: center;
  color: #999;
}

@media only screen and (max-width: 720px) {
  aside {
    display: none;
  }
}
