.icon-input,
.image-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
}

.icon-input {
  background-color: white;
  border: solid 1px #d7d7d7;
  padding: 0 8px;
  margin-bottom: 8px;
}
.icon-input img {
  height: 32px;
}
.icon-input input {
  border: none;
  margin: 0;
}

.image-input .thumbnail {
  height: 52px;
  width: 52px;
  background-position: center;
  background-size: cover;
  background-color: #999;
  margin-right: 8px;
  border-radius: 8px;
}
